/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to right, #fff, #f2f2f2);
    background-image: url('images/Fundo4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Header */
header {
    width: 100%;
    background: linear-gradient(to right, #ffffff, #800000);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 70px;
    margin-left: 20px;
}

header .esc {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header .esc img {
    max-height: 60px;
}

.logout-button {
    background: none;
    border: none;
    cursor: pointer;
}

.logout-icon {
    width: 60px;
    height: 60px;
}

/* Link de "Voltar" */
.voltar-link {
display: flex;
align-items: center;
margin-left: 70px;
margin-top: 170px;
text-decoration: none;
color: black;
font-size:25px;
font-weight: bold;
position: absolute;
top: 0;
}

.voltar-link img {
width: 45px;
height: auto;
margin-right: 35px;
}

/* Títulos */
h2 {
    color: #800000;
    font-size: 24px;
    text-align: center;
    margin: 10px 0 20px;
}

/* Produto */
.produto {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.produto img {
    max-width: 200px;
    margin-bottom: 20px;
}

.produto h3 {
    color: #800000;
    font-size: 22px;
    margin-bottom: 10px;
}

.produto p {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
}

.produto p strong {
    font-weight: bold;
    color: #800000;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form input[type="number"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

#total {
    font-weight: bold;
    color: #800000;
}

form button {
    background-color: #800000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

form button:hover {
    background-color: #a20000;
}

/* Footer */
footer {
    width: 100%;
    background: linear-gradient(to right, black, #800000);
    text-align: center;
    padding: 20px;
    color: white;
    position: relative;
    bottom: 0;
}
